<h1 class="p-5">Super helpful coach</h1>
<p class= "px-5">Ask your coach anything:</p>
<form action="/answer" data-turbo="false" class="px-5 form-control rounded">
  <input type="text" name="question" class="rounded">
  <input type="submit" value="Ask!" class="rounded btn btn-primary">
</form>
